@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
--cor-primaria: #EEEEEE;
    --cor-secundaria: #053B50;
    --cor-terciaria: #176B87;
    --cor-hover: #64CCC5;
    --cor-hover2:#219bc4;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.menu-principal{
    display: flex;
    gap: 80px;
}
.menu-link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.menu-link:hover{
color: var(--cor-hover2)
}
.apresentacao{
    gap:82px ;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.redes{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.botoes{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.botoes:hover{
    background-color: var(--cor-hover);
}
.img{
    padding: 0.3%;
 width: 50%;
 background-color: #176B87;
 
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px){
.cabecalho{
padding: 6%;
}
.menu-principal{
    justify-content: center;
}
.apresentacao{
    flex-direction: column-reverse;
    padding: 2%;
}
.conteudo{
    width: auto;
}
}